# Dependencies
node_modules/

# Production Build
dist/

# Environment Variables
.env
.env.local
.env.production
.env.development
!.env.example

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
